{% extends 'layout.html' %}
{% block titulo %}
<title>Carreiras</title>
{% endblock %}

{% block conteudo %}
<center>
    <h6>Carreiras</h6>
    <br><br><br><br>
    <h7>O Burger HUB tenta oferecer várias oportunidades para todos os que estejam à procura de um emprego. No Burger HUB não só oferecemos ofertas de emprego a pessoas experientes mas também a quem procura um primeiro emprego.</h7>
    <br><br><br>
    <h8>Infelizmente não temos vagas disponíveis.</h8>
    <br><br><br><br>
    <img src="/static/images/loja.png" width="250">
</center>
{% endblock %}
